alabaster==0.7.12
attrs==21.2.0
Babel==2.9.1
certifi==2021.5.30
chardet==4.0.0
colorama==0.4.4
docutils==0.17.1
html2text==2020.1.16
idna==2.10
imagesize==1.2.0
Jinja2==3.0.1
markdown-it-py==1.1.0
MarkupSafe==2.0.1
mdit-py-plugins==0.2.8
multidict==5.1.0
myst-parser==0.15.1
packaging==21.0
Pygments==2.9.0
pyparsing==2.4.7
python-dotenv==0.18.0
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
six==1.16.0
snowballstemmer==2.1.0
Sphinx==4.0.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
urllib3==1.26.6
vcrpy==4.1.1
-e git+https://github.com/wikirate/wikirate4py.git@02de347d5ec0b02b88b912958fc2c7cf17af5efb#egg=wikirate4py
wrapt==1.12.1
yarl==1.6.3
pandas==1.3.3
